TELEBIRR_BASE_URL=
TELEBIRR_FABRIC_APP_ID=
TELEBIRR_APP_SECRET=
TELEBIRR_MERCHANT_APP_ID=
TELEBIRR_MERCHANT_CODE=
TELEBIRR_PRIVATE_KEY_PATH=/run/secrets/telebirr_private_key.pem
TELEBIRR_NOTIFY_URL=https://merchant.example.com/api/payment.php

TELEBIRR_BUSINESS_TYPE=BuyGoods
TELEBIRR_TRADE_TYPE=InApp
TELEBIRR_CURRENCY=ETB
TELEBIRR_TIMEOUT_EXPRESS=120m
TELEBIRR_PAYEE_IDENTIFIER=
TELEBIRR_PAYEE_IDENTIFIER_TYPE=
TELEBIRR_PAYEE_TYPE=
